Repository CalebReiter/python-graphql-api-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, check-toml, check-yaml, flakeheaven, mypy, name-tests-test, pyupgrade

isort:
  name: isort
  description: Sort import statements
  entry: isort .
  pass_filenames: false
  language: python
  language_version: python3
  require_serial: true
  stages:
  - commit
  args:
  - --profile
  - black
  - --filter-files

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black .
  pass_filenames: false
  language: python
  language_version: python3
  require_serial: true
  stages:
  - commit

check-toml:
  name: Check Toml
  description: This hook checks toml files for parseable syntax.
  entry: check-toml
  language: python

check-yaml:
  name: Check Yaml
  description: This hook checks yaml files for parseable syntax.
  entry: check-yaml
  language: python
  args:
  - --allow-multiple-documents

flakeheaven:
  name: flakeheaven
  entry: flakeheaven lint
  language: python
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  description: Runs mypy
  pass_filenames: false
  language: system
  require_serial: true
  stages:
  - commit
  args:
  - --show-error-codes

name-tests-test:
  name: Tests should end in _test.py
  description: This verifies that test files are named correctly
  entry: name-tests-test
  language: python
  stages:
  - commit

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

feat(types): add ErrorResponse class
  src/types/__init__.py
  src/types/errors.py
Due: isort, black, flakeheaven, mypy, pyupgrade

feat(blueprints): add error blueprints
  src/blueprints/errors.py
Due: isort, black, flakeheaven, mypy, pyupgrade

feat(graphql): load schemas for graphql setup
  src/_graphql/__init__.py
  src/_graphql/schemas/todos.graphql
Due: isort, black, flakeheaven, mypy, pyupgrade

feat(graphql): add todo queries
  src/_graphql/queries/__init__.py
  src/_graphql/queries/todos.py
Due: isort, black, flakeheaven, mypy, pyupgrade

feat(graphql): generate schema after queries
  src/_graphql/schema.py
Due: isort, black, flakeheaven, mypy, pyupgrade

feat(blueprints): add graphql routes
  src/blueprints/__init__.py
  src/blueprints/graphql.py
Due: isort, black, flakeheaven, mypy, pyupgrade

feat(flask): setup flask app
  src/__init__.py
  src/router.py
Due: isort, black, flakeheaven, mypy, pyupgrade

test(flask): initial tests
  src/router.py
  tests/src/conftest.py
  tests/src/router_test.py
Due: isort, black, flakeheaven, mypy, name-tests-test, pyupgrade

chore(git): update .gitignore
  .gitignore
Due: none

ci(nox): run pytest
  noxfile.py
Due: isort, black, flakeheaven, mypy, pyupgrade

test(types): add unit tests for ErrorResponse
  tests/src/types/errors_test.py
Due: isort, black, flakeheaven, mypy, name-tests-test, pyupgrade

test(blueprint): add tests for graphql endpoint
  tests/src/blueprints/graphql_test.py
  tests/src/conftest.py
Due: isort, black, flakeheaven, mypy, name-tests-test, pyupgrade

test(graphql): add tests for todo queries
  tests/src/_graphql/queries/todos_test.py
Due: isort, black, flakeheaven, mypy, name-tests-test, pyupgrade

test(blueprints): add test for error handling
  tests/src/blueprints/__init__.py
  tests/src/blueprints/errors_test.py
Due: isort, black, flakeheaven, mypy, name-tests-test, pyupgrade

feat(errors): implement ErrorMessages class
  src/blueprints/graphql.py
  src/types/errors.py
  tests/src/blueprints/graphql_test.py
Due: isort, black, flakeheaven, mypy, name-tests-test, pyupgrade

feat(graphql): implement GraphQLUtils class
  src/types/errors.py
  src/types/graphql.py
  tests/src/blueprints/graphql_test.py
  tests/src/conftest.py
  tests/src/types/graphql_test.py
Due: isort, black, flakeheaven, mypy, name-tests-test, pyupgrade

fix(nox): install project dependencies for mypy types
  noxfile.py
Due: isort, black, flakeheaven, mypy, pyupgrade

build(poetry): update lock file
  poetry.lock
Due: none

feat(graphql): use get_projection on resolver
  src/_graphql/queries/todos.py
Due: isort, black, flakeheaven, mypy, pyupgrade

refactor(types): update GraphQLUtils.get_projection
  src/types/graphql.py
Due: isort, black, flakeheaven, mypy, pyupgrade

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flakeheaven: any of: \.py$
  mypy: any of: \.py$
  name-tests-test: any of: (^|/)tests/src/.+\.py$
  pyupgrade: any of: \.py$
